.materia-item {
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Separación entre materias */
  }
  
  
  .materia-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
  
  .clases-list {
    margin-top: 15px;
    display: block;
    padding: 10px;
  }
  
  .clase-item {
    margin-bottom: 10px;
  }
  
  .clase-item ion-label h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .clase-item ion-label p {
    font-size: 14px;
    color: #555;
  }
  .clases-list-container {
    margin: 0;
    padding: 0;
    text-align: left; 
  }
  
  // #materiasClasesContainer {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start; 
  //   width: 100%;
  //   padding: 0;
  //   margin: 0;
  // }

  #materiasClasesContainer {
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Organiza el contenido verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
    width: 100%; /* Asegura que ocupe el ancho completo */
    margin: 0; 
    padding: 0;
  }
  
  .clases-list ion-item {
    width: 100%; 
  }
  
  .logo-main {
    height: 45px;
    margin-right: 25px;
  }
  
  .tit-asis {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #c3c6c8 !important;
  }
  
  ion-card {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de profundidad */
    font-family: 'Merriweather', serif; /* Aplicar Merriweather a las tarjetas */
  }
  
  ion-toolbar {
    --background: #072757;
    --color: white;
  }
  
  // Cuerpo
  ion-content {
    --background: url('../../../assets/icon/background_1.png');
    background-repeat: no-repeat !important; 
    background-size: cover; 
    background-position: -20% center; 
    height: 100vh; 
    padding: 20px;
    overflow-y: hidden;
  }
  
  ion-list {
    background-color: transparent;
  }

  .custom-list{
    margin: 10px;
  }

  .item {
    --background: #ffffff;
    --ion-item-background: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }