<ion-content class="login-content">
  <div class="container">
    <ion-title class="text-center titulo"><span class="white-text">Asist</span>App</ion-title>
    <ion-card class="login-card">
      <ion-card-content>
        <!-- Input del correo con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon> <!-- icono del correo -->
          <ion-label position="floating" class="txt-lb">Correo</ion-label>
          <ion-input [(ngModel)]="correo" maxlength="70" minlength="12" required type="email"></ion-input>
        </ion-item>
        <!-- Input de contraseña con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating" class="txt-lb">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" [type]="passwordType" maxlength="15" minlength="6" required></ion-input>
          <ion-button slot="end" (click)="togglePasswordVisibility()" class="boton-contra">
            <ion-icon [name]="passwordType === 'password' ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <br>
        <!-- Botón Ingresar con estilo redondeado -->
        <ion-button expand="block" (click)="login()" shape="round" class="boton-login custom-button1">Ingresar</ion-button> 
        <!-- Botón para recuperar contraseña -->
        <ion-button  expand="block" shape="round" class="boton-recuperar custom-button2" href="/recuperacion">Recuperar contraseña</ion-button>
        <!-- Botón para registro -->
        <ion-button  expand="block" shape="round" class="boton-recuperar custom-button3" href="/registro">Registro</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>