<meta name="mobile-web-app-capable" content="yes">
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de menú hamburguesa con icono personalizado -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon> <!-- Icono del menú -->
      </ion-menu-button>
    </ion-buttons>

    <!-- Logo y título -->
    <ion-img class="logo-main" src="../../../assets/icon/logoduoc.png" alt="logo-duoc"></ion-img>
    <ion-title slot="end" class="tit-asis">ASISTAPP</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Contenido principal con el id que coincide con el contentId del menú -->
<ion-content [fullscreen]="true">
  <h2 class="tit-bienv texto-desvanecido">¡Bienvenido/a {{ username }}!</h2>
  
  <div class="container">
    <!-- API CLIMA -->
    <div *ngIf="weatherData" class="weather-info">
      <h5 style="font-weight: bold;">No olvides revisar el clima de esta semana...</h5>
      <h2>El tiempo en {{ city }}</h2>
      
      <!-- Ícono -->
      <ion-icon [name]="getWeatherIcon()" size="large"></ion-icon>
      
      <!-- Temperatura actual -->
      <p>Temperatura Actual: {{ weatherData.temperature }}°C</p>
      
      <!-- Pronóstico diario -->
      <h3>Pronóstico diario:</h3>
      <ul>
        <li *ngFor="let forecast of weatherData.forecast">
          {{ forecast.day }} - Máx: {{ forecast.temperatureMax }}°C, Mín: {{ forecast.temperatureMin }}°C
        </li>
      </ul>
    </div>
    
    <!-- Tarjetas de acciones -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrar asistencia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás registrar tu asistencia (Acceso a cámara requerido)</p>
        <ion-button expand="full" (click)="navigateToEscanear()">Registrar asistencia</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Revisar asistencia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás ver tu asistencia en las materias</p>
        <ion-button expand="full" (click)="navigateToAsistencia()">Asistencias</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Opciones para administradores -->
    <ion-card *ngIf="isAdmin">
      <ion-card-header>
        <ion-card-title>Administrar cuentas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás modificar otras cuentas de usuario para definir roles</p>
        <ion-button expand="full" (click)="navigateToAdmin()">Administrar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isAdmin">
      <ion-card-header>
        <ion-card-title>Secciones y generación de QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás ver las secciones y generar los respectivos QR</p>
        <ion-button expand="full" (click)="navigateToGestion()">Gestionar asistencia</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
