
ion-menu {
    --width: 250px;
}

ion-toolbar {
    --background: #3880ff;
    --color: white;
}

.active-link {
    font-weight: bold;
    color: #3880ff;
}
.texto-cerrar-ses {
    color: red !important;
    font-weight: bold !important;
}

ion-list {
    background-color: transparent;
}
