<ion-app>
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/qr-reader">Registrar asistencia</ion-item>
        <ion-item routerLink="/asistencias">Asistencias</ion-item>
        <ion-item *ngIf="isAdmin" routerLink="#">Administrar cuentas</ion-item>
        <ion-item *ngIf="isAdmin" routerLink="/gestion">Secciones y registro asistencia</ion-item>
        <ion-item class="texto-cerrar-ses" (click)="logout()">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
