.materia-item {
  display: block;
  width: 100%;
  margin-bottom: 20px; /* Separación entre materias */
}
.clases-list-container div h2{
  margin-left: 0px;
}

.materia-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.clases-list {
  margin-top: 15px;
  padding-left: 20px; 
  display: block;
}

.clase-item {
  margin-bottom: 10px;
}

.clase-item ion-label h3 {
  font-size: 16px;
  font-weight: bold;
}

.clase-item ion-label p {
  font-size: 14px;
  color: #555;
}
.clases-list-container {
  margin: 0;
  padding: 0;
  text-align: left; 
}

#materiasClasesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  padding: 0;
  margin: 0;
}

.clases-list ion-item {
  width: 100%; 
}
