<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de menú hamburguesa con icono personalizado -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon> <!-- Icono del menú -->
      </ion-menu-button>
    </ion-buttons>

    <!-- Logo y título -->
    <ion-img class="logo-main" src="../../assets/icon/logoduoc.png" alt="logo-duoc"></ion-img>
    <ion-title slot="end" class="tit-asis">ASISTAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let materia of materias">
      <ion-label>
        <h2>{{ materia.nombre }}</h2>
        <p>{{ materia.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>