<meta name="mobile-web-app-capable" content="yes">
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de menú hamburguesa con icono personalizado -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon> <!-- Icono del menú -->
      </ion-menu-button>
    </ion-buttons>

    <!-- Logo y título -->
    <ion-img class="logo-main" src="../../assets/icon/logoduoc.png" alt="logo-duoc"></ion-img>
    <ion-title slot="end" class="tit-asis">ASISTAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Video Elemento para mostrar la cámara -->
  <div class="camera-container">
    <video id="video" width="100%" height="100%" autoplay></video>
  </div>

  <!-- Botón para iniciar o detener el escaneo -->
  <ion-button (click)="startScanner()" [disabled]="scanning">Iniciar Escaneo</ion-button>

  <!-- Mensaje de estado del escaneo -->
  <div *ngIf="scanning">
    <p>Escaneando...</p>
  </div>
  <div *ngIf="!scanning">
    <p>Listo para escanear</p>
  </div>
</ion-content>
