<ion-content class="login-content">
  <div class="container">
    <ion-title class="text-center titulo">Registro</ion-title>

    <!-- Tarjeta para el formulario -->
    <ion-card class="form-container">
      <ion-card-content>
        <!-- Input del nombre con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" maxlength="50" required class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input del correo con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input [(ngModel)]="correo" minlength="12" maxlength="70" required type="email" class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input de contraseña con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="contrasena" minlength="6" maxlength="15" required type="password" class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input de confirmar contraseña con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmarContrasena" minlength="6" maxlength="15" required type="password" class="input-escribir"></ion-input>
        </ion-item>

        <br>
        <!-- Botón Registrarse -->
        <ion-button expand="block" shape="round" class="boton-login custom-button1" (click)="registrarse()">Registrarse</ion-button>
        <!-- Botón para volver al login -->
        <ion-button expand="block" shape="round" class="boton-recuperar custom-button2" href="/login">Volver al Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
