<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="container">
    <ion-card class="login-card">
      <ion-card-content>
        <!-- Input del nombre con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" maxlength="50" required class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input del correo con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input [(ngModel)]="correo" minlength="12" maxlength="70" required type="email" class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input de contraseña con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="contrasena" minlength="6" maxlength="15" required type="password" class="input-escribir"></ion-input>
        </ion-item>

        <!-- Input de confirmar contraseña con icono -->
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmarContrasena" minlength="6" maxlength="15" required type="password" class="input-escribir"></ion-input>
        </ion-item>

        <br>
        <!-- Botón Registrarse -->
        <ion-button color="success" expand="block" shape="round" class="boton-login" (click)="registrarse()">Registrarse</ion-button>
        <!-- Botón para volver al login -->
        <ion-button color="tertiary" expand="block" shape="round" class="boton-recuperar" href="/login">Volver al Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
